@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html,body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.canvas {
    height: 100%; 
}
.menu {
    height: 100%;
    position: fixed;
    transform: translateX(100%);
    right: 0;
    width: 510px;
    background: #202025;
    transition: .3s ease all;
    overflow-y: auto;
}
.wrapper.show-menu .menu {
    transform: translateX(0%);
}
